[Unit]
Description=LTSP shared folders service
After=home.mount

[Service]
Type=oneshot
RemainAfterExit=yes
KillMode=process
ExecStart=/usr/sbin/ltsp-shared-folders mount
ExecStop=/usr/sbin/ltsp-shared-folders unmount

[Install]
WantedBy=multi-user.target
