[Desktop Entry]
Name=LTSP manager
Comment=ltsp-manager: easy administration of LTSP-based computer labs
Comment[el]=ltsp-manager: εύκολη διαχείριση εργαστηρίων υπολογιστών βασισμένων στο LTSP
TryExec=/usr/sbin/ltsp-manager
Exec=/usr/sbin/ltsp-manager
Icon=ltsp-manager
Terminal=false
Type=Application
Categories=Settings;System;
X-KDE-SubstituteUID=true
