[Desktop Entry]
Name=LTSP Manager
Comment=Easy administration of LTSP-based computer labs
TryExec=/usr/sbin/ltsp-manager
Exec=/usr/sbin/ltsp-manager
Icon=ltsp-manager
Terminal=false
Type=Application
Categories=Settings;System;
X-KDE-SubstituteUID=true
