Source: ltsp-manager
Section: admin
Priority: optional
Maintainer: Debian LTSP Maintainers <team+ltsp@tracker.debian.org>
Uploaders: Alkis Georgopoulos <alkisg@gmail.com>, Vagrant Cascadian <vagrant@debian.org>, Franz Dietrich <dietrich@teilgedanken.de>
Build-Depends: debhelper,
 pkg-config,
 dpkg-dev (>= 1.16.1),
 python-distutils-extra,
 libxml2-utils,
 libglib2.0-dev,
 help2man,
 meson,
 policykit-1
Standards-Version: 4.1.4
Vcs-Git: https://git.launchpad.net/ltsp-manager
Vcs-Browser: https://git.launchpad.net/ltsp-manager
Homepage: http://wiki.ltsp.org/wiki/Ltsp-manager

Package: ltsp-manager
Architecture: all
Depends: ${misc:Depends},
 iputils-arping,
 libgtk-3-0,
 librsvg2-common,
 policykit-1,
 python3,
 python3-gi,
 python3-twisted
Recommends: apturl,
 bindfs,
 dnsmasq,
 epoptes,
 ethtool,
 iperf,
 ldm-ubuntu-theme | ldm-edubuntu-theme | ldm-kubuntu-theme | ldm-lubuntu-theme | ldm-xubuntu-theme,
 ltsp-client,
 ltsp-docs,
 ltsp-server-standalone | ltsp-server,
 xdg-utils
Suggests: ident2,
 squid,
 x2goserver
Description: Easy administration of LTSP-based computer labs
 It depends on a set of packages suitable for configuring LTSP in small
 computer labs, and it provides a GUI for managing user accounts, running
 maintenance tasks etc.
