#!/usr/bin/make -f

DEBVERS := $(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p')

%:
	dh $@

override_dh_gconf:
	dh_gconf --priority=90

override_dh_install:
	dh_install
	echo "__version__='$(DEBVERS)'" > "$(CURDIR)/debian/ltsp-manager/usr/share/ltsp-manager/version.py"

override_dh_installinit:
	dh_installinit --name=ltsp-shared-folders

override_dh_installgsettings:
	#dh_installgsettings --priority=20
	dh_install -pltsp-manager debian/z20_ltsp-manager.gschema.override /usr/share/glib-2.0/schemas/
