#!/usr/bin/make -f

DEBVERS := $(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p')

%:
	dh $@

override_dh_gconf:
	dh_gconf --priority=90

override_dh_install:
	dh_install
	echo "__version__='$(DEBVERS)'" > "$(CURDIR)/debian/sch-scripts/usr/share/sch-scripts/version.py"

override_dh_installinit:
	dh_installinit --name=shared-folders

override_dh_installgsettings:
	dh_installgsettings --priority=20
