[Desktop Entry]
Name=Shared folders
Name[el]=Κοινόχρηστοι φάκελοι
Comment=Creates shared folders symlinks for the groups the user is a member of
Comment[el]=Δημιουργεί συντομεύσεις για κοινόχρηστους φακέλους
Exec=/usr/share/sch-scripts/create-symlinks
Icon=folders-publicshare
Terminal=false
Type=Application
Categories=Settings;
